.DS_Store
*~
*.swp
log/*.log
application/config/config.php
application/config/database.php
application/config/variation_database.php

NoteToSelf-Rob.txt

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/third_party/pChart/*
application/third_party/dompdf/*

DVD_v8.1.2018-01-17-1330.GNOMAD.vcf.gz
DVD_v8.1.2018-01-17-1330.GNOMAD.vcf.gz.tbi
VCF2DVD.GNOMAD.map.txt

assets/public/*
!assets/public/css/*
!assets/public/js/*
